<html>
  <head><title>Mars Data</title></head>
  <body>
    <div>
      <h1>Mission to Mars</h1>
      <a href="scrape"><button>Scrape New Data</button></a>
    </div>
    <div>
      <h2>Latest Mars News</h2>
      <h3>{{ elements.news_title }}</h3>
      <div>{{ elements.news_p }}</div>
    </div>
    <div>
      <h2>Featured Mars Image</h2>
      <img src='{{ elements.featured_image_url }}' />
    </div>
    <div>
      <h3>Current Weather on Mars</h3>
      <div>{{ elements.mars_weather }}</div>
    </div>
    <div>
      <h3>Mars Facts</h3>
      {{ elements.mars_facts }}
    </div>
    <div>
      <h2>Mars Hemisphereo</h2>
      {% for e in elements.hemisphere_image_urls %}
      <h3>{{ e['title'] }}</h3>
      <img src="{{ e['image_url'] }}" />
      {% endfor %}
    </div>
  </body>
</html>
